body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-family: sans-serif;
  background: #23252c;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;


}


.name{
  font-weight: 700;
  font-size: 25px;
  line-height: 100%;
}
.website-link {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
}
.job-title {
  font-weight: 400;
  font-size: 12.8px;
  line-height: 100%;
  color: #F3BF99;
}

.email-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: white;
  color: black;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.linkedin-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #5093E2;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.card-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.card-container {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 317px;
  height: auto;
  background-color: #1A1B21;
  color: white;
  border-radius: 10px;
  
}
.headshot {
  margin: 0;
  padding: 0;
  width: auto;
  height: 317px;
  border-radius: 10px;
}

.card-info {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.footer-icon-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  background-color: #161619;
  width: 100%;
  padding: 10px;
}
.footer-icon {
  width: 25px;
  height: 25px;
}

.About p, .Interests p {
  font-weight: 400;
  font-size: 12.8px;
  line-height: 150%;
}

.About h3, .Interests h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

a {
  text-decoration: none;
  color: inherit;
}